*{
    margin: 0;
    padding: 0;
}

#container-principal {
    display: flex;
    flex-direction: column;
    height: 320vh;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header {
    background-color: yellow;
    display: flex;
    height: 10vh;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

main {
    background-color: tomato;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: 100vw;
    height: 300vh;
    justify-items: center;
    align-items: center;
}

footer{
    background-color: yellow;
    display: flex;
    height: 10vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

#section-1{
    background-color: white;
    height: 100%;
    width: 100%;
}

#section-2{
    height: 100%;
    width: 100%;
}

#section-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    background-color: #F4A261;
}

#section-2 img{
    width: 40vw;
}

#section-2 div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans';
    letter-spacing: -0.02em;    
}

#section-2 h1{
    font-size: 4em;
}

#section-2 P{
    font-size: 1.5em;
    text-align: center;
}
#section-3{
    background-color: white;
    height: 100%;
    width: 100%;
}


